[submodule "vendor/hashlink"]
	path = core/vendor/hashlink
	url = https://github.com/HaxeFoundation/hashlink.git
[submodule "vendor/spdlog"]
	path = core/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "core/vendor/JoltPhysics"]
	path = core/vendor/JoltPhysics
	url = https://github.com/jrouwe/JoltPhysics.git
[submodule "core/vendor/SDL3"]
	path = core/vendor/SDL3
	url = https://github.com/libsdl-org/SDL.git
[submodule "core/vendor/nvrhi"]
	path = core/vendor/nvrhi
	url = https://github.com/NVIDIA-RTX/NVRHI.git
[submodule "core/vendor/ozz-animation"]
	path = core/vendor/ozz-animation
	url = https://github.com/guillaumeblanc/ozz-animation.git
[submodule "core/vendor/taskflow"]
	path = core/vendor/taskflow
	url = https://github.com/taskflow/taskflow.git
